<!DOCTYPE html>
<html>
  <head>

      <!-- CDN example for Material Icons -->
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
      >
    
      <!-- CDN example for Fontawesome -->
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      >
    
      <!-- CDN example for Ioniocns -->
      <link
        rel="stylesheet"
        href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
      >

    <!--<title><%= productName %></title>-->
    <title>Amanda Fonseca</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/logoamanda.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/logoamanda.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/logoamanda.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/logoamanda.png">
    <link rel="icon" type="image/ico" href="logoamanda.png">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
